.legend {
    text-align: center;  
}

fieldset{
    background-color: whitesmoke;
}
.user-class {
    width: 60%;
    margin: auto;
}

.user-data {
    text-align: left;
}

.user-class button {
    position: relative;
    left: 45%;
    border-radius: 12px; 
    background-color: rgb(150, 57, 57);
    color: white;
}